---
title: Digital Plan Library System (SPD)
publishDate: 2022
img: /assets/stock-3.jpg
img_alt: SPD
description: |
  Note: interface screenshots are in Spanish, as the project was developed for a Spanish-speaking client
tags:
  - Design
  - Dev
  - Zend
  - PHP
  - HTML
  - CSS
  - PostgreSQL
---

TODO