---
title: Telematic Service Request System (SST)
publishDate: 2019
img: /assets/stock-3.jpg
img_alt: SST
description: |
  Note: interface screenshots are in Spanish, as the project was developed for a Spanish-speaking client
tags:
  - Design
  - Dev
  - Zend
  - PHP
  - HTML
  - CSS
  - PostgreSQL
---

TODO
